#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=PLeLuron/Roche: Solar System simulati...
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=jmonbgnneepalngiicekdnajcccfjnbi
Icon=chrome-jmonbgnneepalngiicekdnajcccfjnbi-Default
StartupWMClass=crx_jmonbgnneepalngiicekdnajcccfjnbi
